In [1]:
import pandas as pd

In [2]:
# Let's create example dataset
digit = [1,2,3,4,5]
digit_name = ['one','two','three','four','five']
df = pd.DataFrame({'digit':digit, 'digit_name':digit_name})

In [3]:
df

   digit digit_name
0      1        one
1      2        two
2      3      three
3      4       four
4      5       five

In [4]:
# If you want a dictionary mapping taking two columns from the above data frame.

# The unnecessary long way
map_dict = dict()
for i,row in df.iterrows():
    map_dict[row['digit']] = row['digit_name']
map_dict

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [5]:
# The easy one liner
map_dict = dict(zip(df.digit, df.digit_name))
map_dict

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [6]:
# If you want to create a new column which needs to take row wise input from existing column

# A function which will take digit column's every row value as input 
def func(digit):
    return (digit*digit)/(2*digit)

In [7]:
df['func_out'] = df['digit'].apply(func)  # add row in new column called func_out
df

   digit digit_name  func_out
0      1        one       0.5
1      2        two       1.0
2      3      three       1.5
3      4       four       2.0
4      5       five       2.5

In [8]:
# You can do same thing without defining a function if required calculation is simple

# lambda takes each row value as input in x and returns what you define after :
df['lamda_out'] = df['digit'].apply(lambda x: (x*x)/(2*x))
df

   digit digit_name  func_out  lamda_out
0      1        one       0.5        0.5
1      2        two       1.0        1.0
2      3      three       1.5        1.5
3      4       four       2.0        2.0
4      5       five       2.5        2.5

In [9]:
# If you want to iterate over two variables(columns)

# The old way
for i,row in df.iterrows():
    print(row['digit'], row['digit_name'])

1 one
2 two
3 three
4 four
5 five

In [10]:
# The zip way
for i,j in zip(df.digit,df.digit_name):
    print(i,j)

1 one
2 two
3 three
4 four
5 five

In [11]:
# Bonus analysis made easier by pandas

df.describe()  # returns each columns basic stats

          digit  func_out  lamda_out
count  5.000000  5.000000   5.000000
mean   3.000000  1.500000   1.500000
std    1.581139  0.790569   0.790569
min    1.000000  0.500000   0.500000
25%    2.000000  1.000000   1.000000
50%    3.000000  1.500000   1.500000
75%    4.000000  2.000000   2.000000
max    5.000000  2.500000   2.500000